
/* Navigation */
nav {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background: transparent;
}

#landing {
  min-height: 100vh;
  width: 100%;
  margin-top: -60px;
  background: url('./resources/graphics/landing.png');
}

.landingContainer {
  width: 75%;
  margin: auto;
}

.landingContainer div {
  padding-top: 20%;
}

.landingContainer h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  padding: 8px;
  color: #F6F6F6;
  background: #D41F45;
}

/* Journey Section */
#journey {
  width: 100%;
  min-height: 120vh;
}

#j-1 {
  position: static;
  float: left;
  z-index: 0;
  margin-left: -5px;
  width: 548px;
  height: 221px;
}

.j-3 {
  position: relative;
  z-index: 1;
  margin-left: 10%;
  width: 583px;
  height: 351px;
}

.j-3 img {
  position: relative;
  margin-top: -18.5%;
}

.j-3 h3 {
  position: relative;
  margin-left: 22%;
  top: -122%;
  width: 346px;
  height: 233px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  color: #F6F6F6;
}

.j-4 {
  position: relative;
  width: 417px;
  height: 508px;
  margin-top: -16%;
  margin-bottom: -6%;
  left: 55%;
}

.j-4 img {
  position: relative;
  z-index: 0;
  margin-top: -5%;
}

.j-4>div {
  position: relative;
  margin-top: -32%;
  margin-right: 0%;
  text-align: center;
  z-index: 1;
  color: #F6F6F6;
  margin-left: -25px;
}

.j-4 div>>h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}

#j-5 {
  position: relative;
  left: 62.5%;
  margin-top: -60%;
  width: 180px;
  height: 94px;
  border-radius: 30px;
  background-size: 186px 94px;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  background-image: url("./resources/buttons/Website_Buttons-16.png");
}

#j-5:hover {
  background-image: url("./resources/buttons/Website_Buttons-17.png");
}

#j-5:active {
  background-image: url("./resources/buttons/Website_Buttons-18.png");
}

#j-6 {
  position: relative;
  float: right;
  width: 356px;
  height: 623px;
  margin-right: -2.1%;
  margin-top: -5%;
  z-index: 2;
}

.j-5_modal-content{
  position: relative;
  background-color: none;
  margin: 5.4% auto 8%;
  padding: 0px;
  border: 0px solid #888;
  width: 38%;
  height: 480px;
  z-index: 4;
  margin-top: -610px;
  margin-left: 31%;
}

.j-5_modal-content2{
  display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
  flex-direction: column;
  position: absolute;
  margin: 5.4% 36.1% 8%;
=======
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 5.4% 36.4% 8%;
>>>>>>> f3337c5ee9c161ce4a3abb4c67459f22032a9386
=======
  flex-direction: column;
  position: relative;
  margin: 5.4% 36.1% 8%;
>>>>>>> 0bec657efb3d88211b23ad779625412efcd06976
  padding: 0px;
  border: 0px solid #888;
  z-index: 4;
  margin-top: -315px;
  width:30%;
  height: 100px;
  text-align: center;

}

#name {
  width: 93%;
  height: 26px;
  color: black;
  padding: 14px 20px;
  margin: 1 0 0;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

#j-5_modal-img{
position: absolute;
width: 100%;
height: 488px;
<<<<<<< HEAD
left:0%;
=======
left:-1%;
>>>>>>> 0bec657efb3d88211b23ad779625412efcd06976
}

#j-5b{
  position: relative;
  width: 180px;
height: 100px;
left:24%;
top: 80%;
  background: url("./resources/buttons/Website Buttons-44.png");
  border-radius: 0px;
  background-size: 173px 79px;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}

#j-5b:hover{
  background: url("./resources/buttons/Website Buttons-45.png");
  background-size: 173px 79px;
  background-repeat: no-repeat;
}

#j-5b:active{
  background: url("./resources/buttons/Website Buttons-46.png");
  background-size: 173px 79px;
  background-repeat: no-repeat;
}

/* Stories Section */

#stories {
  min-height: 100vh;
  width: 100%;
  padding-top: 20%;
}


.s-1 img {
  width: 562px;
  height: 1021px;
}


.s-1 p {
  width: 301px;
  position: relative;
  height: 319px;
  margin-bottom: -110%;
  margin-left: 25%;
}

.s-2 {
  width: 25%;
  margin: 0 auto;
  margin-top: -15%;
}

.stories-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

.stories-grid > img {
  width: 140px;
  height: 140px;
  margin: auto;
}

.modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 3;

<<<<<<< HEAD
  /* overflow: hidden; */
=======
  overflow: hidden;
>>>>>>> 0bec657efb3d88211b23ad779625412efcd06976
  text-align: center;
  vertical-align: center;
  justify-content: center;
}

#modal-img{
  width: 100%;
  height: 583px;
  margin-top: -1002.5px;
  margin-bottom: 78px;
  margin-left: 10%;
  text-align: center;
  vertical-align: center;
<<<<<<< HEAD
  z-index: 9
}

.modal-links{
  display:flex;
  position: absolute;
  flex-direction: row;
  z-index:10;
  background-color: none;
  width: 526px;
  height:87px;
  margin-top: -19%;
  margin-left:78%;
}

.mlink{
  margin-right: 4%;
  width: 85px;
  height: 82px;
}

#mlink{

=======
>>>>>>> 0bec657efb3d88211b23ad779625412efcd06976
}

.modal-content {
  position: absolute;
  background-color: #fefefe;
  padding: 0px;
  border: 0px solid #888;
  width: 80%;
  height: 0px;
  z-index: 4;
<<<<<<< HEAD
  margin-left:10%;
=======
  text-align: center;
  vertical-align:center;
>>>>>>> 0bec657efb3d88211b23ad779625412efcd06976
}

.close {
  width: 100%;
  height:100%;
  position: relative;
  z-index: 3;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#s-3 {
  margin-top: -25%;
}


/* About Section */
#stories {
  min-height: 100vh;
  width: 100%;
}

#a-1 {
  background: url('./resources/graphics/Website Elements-06.png');
  width: 644px;
  height: 442px;
}

#a-1 p {
  margin-top: 8px;
  text-align: center;
  width: 456px;
  height: 141px;
  font-size: 18px;
  color: black;
}

#a-2 {
  width: 348px;
  height: 485px;
}

#a-3 {
  margin-top: -10%;
}

#a-4 {
  margin-top: -20%;
}
